body {
    background-color: white;
    margin: 20px;
}

h1 {
    color: darkblue;
    font-family: Arial, sans-serif;
    padding: 10px;
}

p {
    color: darkgreen;
    font-family: Georgia, serif;
    margin: 20px 10px;
}

div {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
